<!DOCTYPE html>
<html lang="en" class="bg-neutral-50">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<!-- Fonts Links -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Kaushan+Script&display=swap" rel="stylesheet">

	<!-- icons links -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.3.0/remixicon.min.css" integrity="sha512-tgAW/YyQHq3WCbO/Dcp7LYKKAJdCNEx1Faa0iOEygzQF1ylLv6JkBuZoVeFOqKPpsqToJC2KwUJJx+t8VQnYCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- css -->
	<link rel="stylesheet" href="{{ url_for('static', path='/css/tailwind-output.css') }}">
</head>

<body class="font-brand cbum">

	<!-- navbar -->
	<header class="w-full pt-4">
		<div class="max-w-[90%] m-auto w-full flex items-center justify-between">
			<!-- links -->

			<ul class="flex justify-between gap-x-8">
				<li>
					<a href="#hero" class="link--hover link--active capitalize font-medium text-neutral-800">home</a>
				</li>
				<li>
					<a href="#products-section" class="link--hover capitalize font-medium text-neutral-800">shop</a>
				</li>
			</ul>

			<!-- logo -->
			<a href="#hero">
				<h1 class="font-brand font-black italic text-xl leading-6 my-4 uppercase">Tren.</h1>
			</a>

			<!-- icons -->
			<div class="flex justify-between gap-x-8">
				<!-- shopping cart -->
				<a href="http://localhost:8000/cart"><i class="ri-shopping-cart-2-fill text-[18px] hover:text-red-700 transition-colors duration-200"></i></a>

				<!-- user -->
				<div class="relative cursor-pointer">
					<!-- user icon -->
					<i id="dropdown-btn" class="ri-user-fill text-[18px] hover:text-red-700 transition-colors duration-200"></i>

					{% if auth == "not_logged_in" %}

					<ul id="dropdown-list" class="dropdown--hidden transition-opacity duration-200 absolute top-8 left-0 -translate-x-1/2 shadow-md flex flex-col justify-center bg-neutral-50 text-neutral-800 rounded-xl">
						<li class="rounded-t-xl transition-colors duration-200 hover:bg-neutral-100">
							<a href="http://localhost:8000/login" class="text-sm px-16 py-4 text-center block font-medium">
								login
							</a>
						</li>
						<li class="rounded-b-xl transition-colors duration-200 hover:bg-neutral-200">
							<a href="http://localhost:8000/signup" class="rounded-b-xl text-sm px-16 py-4 text-center font-medium block transition-colors duration-200 hover:bg-neutral-100">
								signup
							</a>
						</li>
					</ul>
					{% else %}
					<ul id="dropdown-list" class="dropdown--hidden transition-opacity duration-200 absolute top-8 left-0 -translate-x-1/2 shadow-md flex flex-col justify-center bg-neutral-50 text-neutral-800 rounded-xl">
						<li class="rounded-t-xl transition-colors duration-200 hover:bg-neutral-100">
							<a href="http://localhost:8000/profile" class="text-sm px-16 py-4 text-center block font-medium">
								profile
							</a>
						</li>
						<li class="rounded-b-xl transition-colors duration-200 hover:bg-neutral-200">
							<a href="http://localhost:8000/logout" class="rounded-b-xl text-sm px-16 py-4 text-center font-medium block transition-colors duration-200 hover:bg-neutral-100">
								logout
							</a>
						</li>
					</ul>
					{% endif%}
				</div>

			</div>
		</div>
	</header>

	<!-- hero -->
	<section id="hero" class="w-full mt-32">
		<div class="max-w-[90%] m-auto w-full flex flex-col items-start justify-center">
			<h1 class=" mb-6 capitalize text-7xl text-neutral-800 font-bold leading-[1.5]">Boost peformance with <br> the new holy-tren lineup.</h1>
			<a href="#products-section" class="mb-16 group">See all products
				<span class="inline-block ml-1 group-hover:translate-x-2  transition-transform duration-300">
					<!-- arrow icon -->
					<svg class="inline-block w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
					</svg>
				</span>
			</a>
			<div class="w-full relative rounded-full">
				<img class="w-full object-cover  rounded-[36px]" src="{{ url_for('static', path='/imgs/cbum.png') }}">
			</div>
		</div>

	</section>

	<!-- products -->
	<section id="products-section" class="w-full mt-32">
		<div class="max-w-[90%] m-auto">
			<h2 class="mb-16 text-3xl text-center text-neutral-800 font-bold">Holy-tren Collection</h2>
		</div>

		<!-- filter -->
		<div class="max-w-[90%] m-auto">
			<h3 class="text-lg mb-4 font-medium">filter by categories:</h3>
			<div class="flex items-center justify-between gap-6 w-max">
				<label class="flex justify-center items-center relative cursor-pointer">
					<input class="filter-by-category sr-only peer -z-10" name="category" type="radio" value="all" checked />
					<div class="transition-colors capitalize px-8 py-2 rounded-full flex justify-center items-center bg-neutral-50 text-neutral-800 border border-neutral-800 peer-checked:bg-neutral-800 peer-checked:text-neutral-50">
						all
					</div>
				</label>
				<label class="flex justify-center items-center relative cursor-pointer">
					<input class="filter-by-category sr-only peer -z-10" name="category" type="radio" value="pre-workout" />
					<div class="transition-colors capitalize px-8 py-2 rounded-full flex justify-center items-center bg-neutral-50 text-neutral-800 border border-neutral-800 peer-checked:bg-neutral-800 peer-checked:text-neutral-50">
						pre-workout
					</div>
				</label>
				<label class="flex justify-center items-center relative cursor-pointer">
					<input class="filter-by-category sr-only peer -z-10" name="category" type="radio" value="creatine" />
					<div class="transition-colors capitalize px-8 py-2 rounded-full flex justify-center items-center bg-neutral-50 text-neutral-800 border border-neutral-800 peer-checked:bg-neutral-800 peer-checked:text-neutral-50">
						creatine
					</div>
				</label>
				<label class="flex justify-center items-center relative cursor-pointer">
					<input class="filter-by-category sr-only peer -z-10" name="category" type="radio" value="protein" />
					<div class="transition-colors capitalize px-8 py-2 rounded-full flex justify-center items-center bg-neutral-50 text-neutral-800 border border-neutral-800 peer-checked:bg-neutral-800 peer-checked:text-neutral-50">
						protein
					</div>
				</label>
			</div>
		</div>

		<!-- products -->
		<div id="product-container" class="max-w-[90%] m-auto mt-8 grid gap-12 grid-cols-[repeat(auto-fit,300px)]">
			{% for product in products %}
			<!-- product -->
			<a href="http://localhost:8000/products/{{product.id}}" class="w-full bg-gradient-to-b from-neutral-600 to-neutral-800 rounded-3xl group shadow-3xl relative overflow-hidden">
				<div class="flex flex-col justify-center items-center">
					<div class="w-full h-80 relative flex justify-center items-center">
						<img class="w-[90%] object-contain rounded-t-3xl  duration-300 transition-transform group-hover:scale-105" src="{{ url_for('static', path='/imgs/' + product.imgs[0]) }}">
					</div>
					<div class="mt-1 w-full flex flex-col items-center justify-center border-t border-neutral-600">
						<p class="text-sm mt-2 capitalize font-brand text-neutral-400">{{product.category}}</p>
						<h3 class="text-base mt-2 font-brand text-neutral-300">
							{{product.name}}
						</h3>
						<p class="text-base my-2 font-brand font-medium text-neutral-50">${{product.price}}</p>

					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</section>

	<footer class="text-neutral-900 font-brand bg-neutral-800 mt-32 rounded-t-3xl">
		<div class="max-w-[90%] py-4 mx-auto flex items-center justify-between">
			<p class="ml-3 text-sm text-neutral-50">&copy; 2023 Tren™. All Rights Reserved.</p>
			<div class="flex items-center justify-between gap-4">
				<i class="ri-twitter-fill text-base text-neutral-50 hover:text-red-400 transition-colors duration-200 cursor-pointer"></i>
				<i class="ri-twitch-fill text-base text-neutral-50 hover:text-red-400 transition-colors duration-200 cursor-pointer"></i>
				<i class="ri-instagram-fill text-base text-neutral-50 hover:text-red-400 transition-colors duration-200 cursor-pointer"></i>
			</div>
		</div>
	</footer>

	<script src="{{ url_for('static', path='/js/dropdown.js') }}"></script>
	<script src="{{ url_for('static', path='/js/filter.js') }}"></script>

</body>

</html>