<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- Fonts Links -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

	<!-- icons links -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- css -->
	<link rel="stylesheet" href="{{ url_for('static', path='/css/tailwind-output.css') }}">
</head>

<body class="font-brand bg-stone-50 grid grid-cols-1 grid-rows-[auto,1fr,auto] ">

	<!-- navbar -->
	<header class="w-full">
		<!-- logo section -->
		<div class="w-full flex items-center justify-center border-b border-neutral-600">
			<h1 class="font-logo text-2xl my-4">Kayo</h1>
		</div>
		<!-- navigation -->
		<div class="w-full flex items-center justify-between mb-3 border-b border-neutral-600">

			<div class="w-52 h-12 border-r border-neutral-600 flex justify-evenly items-center">

				<div class="relative cursor-pointer">
					<!-- user icon -->
					<i id="dropdown-btn" class="fa-solid fa-user text-[16px] p-2 text-green-600  hover:text-green-700 transition-colors duration-200"></i>


					<ul id="dropdown-list" class="dropdown--hidden transition-opacity duration-200 absolute top-8 left-1/2 -translate-x-1/2 divide-y divide-neutral-600 border border-neutral-600 flex flex-col justify-center bg-neutral-50 text-neutral-900 font-brand rounded-lg">
						<li class="rounded-tr-lg rounded-tl-lg transition-colors duration-200 hover:bg-neutral-900 hover:text-neutral-50">
							<a href="#" class="text-sm px-16 py-4 text-center block">
								profile
							</a>
						</li>
						<li class="rounded-br-lg rounded-bl-lg transition-colors duration-200 hover:bg-neutral-900 hover:text-neutral-50">
							<a href="http://localhost:8000/logout" class="rounded-br-lg rounded-bl-lg text-sm px-16 py-4 text-center block transition-colors duration-200 hover:bg-neutral-900 hover:text-neutral-50">
								logout
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="flex items-center justify-center gap-x-8">
				<a class="font-brand font-medium link--hover " href="http://localhost:8000/reda">Home</a>
				<a class="font-brand font-medium link--hover" href="http://localhost:8000/products/category/jeans">Jeans</a>
				<a class="font-brand font-medium link--hover" href="http://localhost:8000/products/category/tshirt">T-shirts</a>
				<a class="font-brand font-medium link--hover" href="http://localhost:8000/products/category/shoes">Shoes</a>
			</div>

			<div class="w-52 h-12 border-l border-neutral-600 flex justify-evenly items-center">
				<!-- cart icon -->
				<a href="http://localhost:8000/cart"><i class="fa-sharp fa-solid fa-cart-shopping text-[16px] hover:text-green-700 transition-colors duration-200"></i></a>
			</div>

		</div>
	</header>


	<main class="w-full my-auto">
		<h1 class="text-3xl font-medium  pb-11 mt-6 capitalize text-center">Your Latest Orders</h1>
		<!-- orders list -->
		<section class="w-[90%] m-auto my-8 flex flex-col gap-y-9 items-center justify-center">
			{% for order in data %}

			<!-- order -->
			<div class="w-[784px] border border-neutral-800 rounded-3xl ">


				<!-- order details -->
				<div class=" mb-8">
					<div class="flex justify-between items-center  p-6">
						<h1>order #{{order.orderInfo.id}}</h1>
						<p>{{order.orderInfo.order_total}}$</p>
					</div>
					<div class="flex justify-between items-center  px-6">
						<h1>first name: {{order.orderInfo.first_name}}</h1>
						<h1>last name: {{order.orderInfo.last_name}}</h1>
					</div>
					<div class="flex justify-between items-center flex-wrap border-b border-neutral-800 p-6">
						<h1>email: {{order.orderInfo.email}}</h1>
						<h1>address: {{order.orderInfo.address}}</h1>
					</div>
				</div>
				<!-- order items -->
				{% for item in order.orderItems %}

				<div class="w-full m-auto max-w-[90%] grid grid-cols-[1fr,_3fr]  mb-4">
					<div class="col-[1/2] justify-self-center h-32 w-32 overflow-hidden">
						<img class="h-full w-full object-cover object-center" src="{{ url_for('static', path='/imgs/' + item.img_url ) }}">
					</div>
					<div class="col-[2/3] flex flex-col items-start  justify-center">
						<p class="w-full mb-3 border-b border-neutral-400">{{item.product_name}}</p>
						<p class="w-full mb-3 border-b border-neutral-400">size - {{item.size}}</p>
						<p class="w-full mb-3 border-b border-neutral-400">quantity - {{item.quantity}}</p>

					</div>
				</div>
				{% endfor %}

			</div>
			{% endfor %}
		</section>
	</main>

	<footer class="text-neutral-900 font-brand border-t border-neutral-400 mt-auto w-full">
		<div class="container px-5 py-4 mx-auto flex items-center flex-col">
			<p class="ml-3 text-xl font-logo">Redssou</p>
			<p class="text-sm text-neutral-500 mt-4">copyright — 2023</p>
		</div>
	</footer>

	<script src="{{ url_for('static', path='/js/dropdown.js') }}"></script>

</body>

</html>