<!DOCTYPE html>
<html lang="en" class="bg-neutral-50">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<!-- Fonts Links -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">


	<!-- icons links -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- css -->
	<link rel="stylesheet" href="{{ url_for('static', path='/css/tailwind-output.css') }}">
</head>

<body class="font-brand bg-slate-50">

	<!-- navbar -->
	<header class="w-full">
		<!-- logo section -->
		<div class="w-full flex items-center justify-center border-b border-neutral-600">
			<h1 class="font-logo text-2xl my-4">Kayo</h1>
		</div>
		<!-- navigation -->
		<div class="w-full flex items-center justify-between mb-3 border-b border-neutral-600">

			<div class="w-52 h-12 border-r border-neutral-600 flex justify-evenly items-center">

				<div class="relative cursor-pointer">
					<!-- user icon -->
					<i id="dropdown-btn" class="fa-solid fa-user text-[16px] p-2  hover:text-green-700 transition-colors duration-200"></i>

					<ul id="dropdown-list" class="dropdown--hidden transition-opacity duration-200 absolute top-8 left-1/2 -translate-x-1/2 divide-y divide-neutral-600 border border-neutral-600 flex flex-col justify-center bg-neutral-50 text-neutral-900 font-brand rounded-lg">
						<li class="rounded-tr-lg rounded-tl-lg transition-colors duration-200 hover:bg-neutral-900 hover:text-neutral-50">
							<a class="text-sm px-16 py-4 text-center block">
								login
							</a>
						</li>
						<li class="rounded-br-lg rounded-bl-lg transition-colors duration-200 hover:bg-neutral-900 hover:text-neutral-50">
							<a class="rounded-br-lg rounded-bl-lg text-sm px-16 py-4 text-center block transition-colors duration-200 hover:bg-neutral-900 hover:text-neutral-50">
								signup
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="flex items-center justify-center gap-x-8">
				<a class="font-brand font-medium link--hover" href="http://localhost:8000/reda">Home</a>
				<a class="font-brand font-medium link--hover" href="http://localhost:8000/products/category/jeans">Jeans</a>
				<a class="font-brand font-medium link--hover" href="http://localhost:8000/products/category/tshirt">T-shirts</a>
				<a class="font-brand font-medium link--hover" href="http://localhost:8000/products/category/shoes">Shoes</a>
			</div>

			<div class="w-52 h-12 border-l border-neutral-600 flex justify-evenly items-center">
				<!-- cart icon -->
				<a href="http://localhost:8000/cart"><i class="fa-sharp fa-solid fa-cart-shopping text-[16px] hover:text-green-700 transition-colors duration-200"></i></a>
			</div>

		</div>
	</header>


	<!-- product page -->
	<main class="w-full mt-20">
		<section class=" max-w-5xl m-auto w-full flex justify-center items-center gap-x-8 mb-20">
			<!-- imgs -->
			{% for img in product.imgs%}
			<div class="max-w-2xl w-full duration-300 transition-all hover:opacity-95 hover:scale-95">
				<img class="h-full w-full rounded-3xl object-cover object-center" src="{{ url_for('static', path='imgs/'+img) }}">
			</div>
			{% endfor %}
		</section>
		<!-- info -->
		<section class=" max-w-5xl  w-full mx-auto mb-10">
			<div class=" flex items-center justify-center w-full border border-neutral-800 rounded-3xl">
				<div class="m-8">
					<h1 class="capitalize text-3xl font-medium mb-5">{{product.name}}</h1>
					<!-- description -->
					<p class="text-neutral-600 mb-5">{{product.description}}</p>

					<!-- price -->
					<div class="mb-5">
						<h2 class="text-2xl font-medium"><span id="product-price">{{product.price}}</span>$</h2>
					</div>
					<!-- sizes -->
					<div class="flex items-start mb-5">
						<div class="flex items-center justify-between gap-6 flex-wrap">
							<!-- size btn -->
							{% for size in product.sizes %}

							<label class="flex justify-center items-center relative cursor-pointer">
								<input data-product-id="{{product.id}}" value="{{size}}" class="size-btn sr-only peer -z-10" name="category" type="radio" />
								<div class="w-20 transition-colors capitalize p-4 rounded-lg flex justify-center items-center peer-checked:bg-green-500 peer-checked:text-neutral-100 peer-checked:font-medium peer-checked:border-neutral-50 border border-neutral-800 bg-neutral-100 text-neutral-800">
									{{size}}
								</div>
							</label>
							{% endfor %}
						</div>
					</div>



					<!-- button -->
					<button data-product-id="{{product.id}}" id="cart-btn" class="transition-colors  w-full rounded-md bg-neutral-50 border border-neutral-600 px-24 py-4 font-medium hover:text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
						add to cart
					</button>
				</div>
			</div>

		</section>
	</main>


	<footer class="text-neutral-900 font-brand border-t border-neutral-400 mt-2">
		<div class="container px-5 py-4 mx-auto flex items-center flex-col">
			<p class="ml-3 text-xl font-logo">Kayo</p>
			<p class="text-sm text-neutral-500 mt-4">copyright — 2023</p>
		</div>
	</footer>

	<script src="{{ url_for('static', path='/js/dropdown.js') }}"></script>
	<script crossorigin src="https://unpkg.com/universal-cookie@3/umd/universalCookie.min.js"></script>
	<script src="{{ url_for('static', path='/js/product.js') }}"></script>

</body>

</html>